@{
    Layout = "_GuestLayout";
}

  @*siccome nel controller del guest ho id posso passarlo col model dentro la lista*@
@model int

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_post_container">

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

      
        axios.get(`/api/pizza/${@Model}`).then(res => {
            const pizza = res.data;
            let ingredienti = '';
            pizza.ingredients.forEach(ingredient => {
                ingredienti +=
                    `<li>${ingredient.title}</li>`
            })
            document.querySelector('.js_post_container').innerHTML +=
                       `
                            <div class="col-12 col-md-4 p-2">
                                  <div class="card post h-100">
                                        <img src="${pizza.image}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">${pizza.name}</h5>
                                        <p class="card-text">${pizza.description}</p>
                                        <span>Categoria: </span><p class="card-text">${pizza.category.title}</p>
                                        <ul>
                                          <span>Ingredienti: </span>
                                          ${ingredienti}
                                         </ul>
                                         <a class="btn btn-danger mt-3" href="/Guest/Index">Torna al menù</a>
                                    </div>                                  
                                </div>
                            </div>
                       `;
        }).catch(error => console.log(error))
    </script>
}